USE [OrderDB]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 6/17/2026 5:53:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_code] [nvarchar](20) NOT NULL,
	[created_date] [datetime] NULL,
	[total_amount] [decimal](18, 2) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([id], [order_code], [created_date], [total_amount], [status]) VALUES (3, N'OD-DRAFT-001', CAST(N'2026-06-17T16:25:15.847' AS DateTime), CAST(150000.00 AS Decimal(18, 2)), N'CONFIRMED')
INSERT [dbo].[Orders] ([id], [order_code], [created_date], [total_amount], [status]) VALUES (4, N'OD-DRAFT-002', CAST(N'2026-06-17T16:25:15.847' AS DateTime), CAST(120000.00 AS Decimal(18, 2)), N'DRAFT')
INSERT [dbo].[Orders] ([id], [order_code], [created_date], [total_amount], [status]) VALUES (5, N'OD-DRAFT-003', CAST(N'2026-06-17T16:25:15.847' AS DateTime), CAST(250000.00 AS Decimal(18, 2)), N'DRAFT')
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Orders__99D12D3FBBCAA457]    Script Date: 6/17/2026 5:53:52 PM ******/
ALTER TABLE [dbo].[Orders] ADD UNIQUE NONCLUSTERED 
(
	[order_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [created_date]
GO
